/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: lemonchiffon;
  color: black;
  font-family: sans-serif;
  background-repeat: round;
  background-size: contain;
}
h1 {
  text-align: center;
}
.imagem {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p {
  color: black;
}

button {
  background-color: #ba6511;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  min-height: 20px;
  line-height: 20px;
  list-style: none;
  margin-right: 10px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: #ba6511;
}

.container {
  height: 150px;
  position: relative;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}