.paragrafo1 {
    background-color: #FFFF99;
    width: fit-content;
}
.paragrafo2 {
    background-color: #66CCFF;
    width: fit-content;
}
.paragrafo3 {
    background-color: #99FF66;
    width: fit-content;
}